@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* shared style */

.same-width {
  width: 80%;
  margin: 0 auto;
}

/* Header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.icon-name {
  display: flex;
  align-items: center;
}

.icon-name > img {
  height: 40px;
  width: 40px;
}

.colored-links > ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-btn,
.header-banner-btn {
  background-color: orange;
  border: none;
  padding: 10px 30px;
  color: white;
  font-family: "Quicksand", serif;
  font-weight: 500;
  border-radius: 10px;
}

#Orange {
  color: orange;
}

#Blue {
  color: #01acfd;
}

#Aqua {
  color: aqua;
}

#Purple {
  color: purple;
}

.btn > .fa-bars {
  display: none;
}

hr {
  /* color: orange; */
  border: 1px solid orange;
  opacity: 0.5;
  margin: 10px 0;
  display: none;
}

.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-description {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.header-description h1 {
  font-size: 3rem;
}

.header-banner-btn {
  background-color: black;
}

/* Curriculum Section */

.curriculum {
  background-image: url(../assets/bg.png);
  margin: 20px auto;
  padding: 30px 0;
}

.curriculum > h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px auto;
}
.kinder-card,
.elementary-card,
.middle-card {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-image: linear-gradient(to bottom, #bdd0ff, #e4e6fe, #ffffff);
  border-radius: 10px;
  border: 1px solid white;
}
.elementary-card {
  background-image: linear-gradient(to bottom, #ffbdd6, #ffe2ff, #ffffff);
}
.middle-card {
  background-image: linear-gradient(to bottom, #c4a1ff, #ded1ff, #ffffff);
}
.kinder-card > a,.elementary-card >a, .middle-card >a {
  color: #01acfd;
  text-decoration: none;
}
.elementary-card > a {
  color: orange;
}
.middle-card > a {
  color: purple;
}
.cards {
  display: flex;
  gap: 20px;
}

.curriculum-btns {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  gap: 10px;
  color: orange;
}

/* Making Responsive */

@media screen and (max-width: 576px) {
  .colored-links {
    display: none;
  }
  .icon-name > h3 {
    display: none;
  }
  .btn > .nav-btn {
    display: none;
  }
  .btn > .fa-bars {
    display: block;
  }
  hr {
    display: block;
  }

  .header-banner {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .header-description {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .header-banner > img {
    width: 100%;
  }

  .cards{
    flex-direction: column;
    gap: 20px;
  }

  .curriculum-btns{
    display: none;
  }
}
