@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* shared style */

.same-width {
  width: 80%;
  margin: 0 auto;
}

/* Header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.icon-name {
  display: flex;
  align-items: center;
}

.icon-name > img {
  height: 40px;
  width: 40px;
}

.colored-links > ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-btn,
.header-banner-btn,
.stories-btn {
  background-color: orange;
  border: none;
  padding: 10px 30px;
  color: white;
  font-family: "Quicksand", serif;
  font-weight: 500;
  border-radius: 10px;
}

#Orange {
  color: orange;
}

#Blue {
  color: #01acfd;
}

#Aqua {
  color: aqua;
}

#Purple {
  color: purple;
}

.btn > .fa-bars {
  display: none;
}

hr {
  /* color: orange; */
  border: 1px solid orange;
  opacity: 0.5;
  margin: 10px 0;
  display: none;
}

.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-description {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.header-description h1 {
  font-size: 3rem;
}

.header-banner-btn,.stories-btn {
  background-color: black;
}

/* Curriculum Section */

.curriculum {
  background-image: url(../assets/bg.png);
  margin: 20px auto;
  padding: 30px 0;
}

.curriculum > h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px auto;
}
.kinder-card,
.elementary-card,
.middle-card {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-image: linear-gradient(to bottom, #bdd0ff, #e4e6fe, #ffffff);
  border-radius: 10px;
  border: 1px solid white;
}
.elementary-card {
  background-image: linear-gradient(to bottom, #ffbdd6, #ffe2ff, #ffffff);
}
.middle-card {
  background-image: linear-gradient(to bottom, #c4a1ff, #ded1ff, #ffffff);
}
.kinder-card > a,
.elementary-card > a,
.middle-card > a {
  color: #01acfd;
  text-decoration: none;
}
.elementary-card > a {
  color: orange;
}
.middle-card > a {
  color: purple;
}
.cards {
  display: flex;
  gap: 20px;
}

.curriculum-btns {
  display: flex;
  justify-content: center;
  margin: 80px auto;
  gap: 10px;
  color: orange;
}

/* Stories Section */

.our-stories {

  background: #ffa500;
  background-image: url("../assets/bg.png"); /* fallback */
  background-image: url("../assets/bg.png"),linear-gradient(to top, #ffa384,#ffe2ff, #ffffff);
  padding: 20px 0;
}

.our-stories>h1{
  text-align: center;
}
.stories{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.one-story{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 380px;
  position: relative;
  
}
.btn-relative{
  position: absolute;
  top: calc(100% - 250px);
  /* top: calc(100% - 38%); */
  padding:10px;
  margin: 0 40px;
  background-color: #01acfd;
  border-radius: 20px;
  color: white;
}
.one-story > img{
  width: 100%;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.one-story-description{
  background-color: white;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.four-stories{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px 0;
  gap: 20px;
  width: 340px;
}
.small-stories{
  display: flex;
  flex-direction: column;
  position: relative;
}
.small-stories >img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.small-stories>h4{
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.small-stories > .btn-relative{
  padding: 6px;
  margin: 0 20px;
  top: calc(100% - 136px);
}

#one{
  background-color: gray;
}

#two{
  background-color: orange;
}

#three{
  background-color: purple;
}

#four{
  background-color: black;
}
.stories-section-btn{
  display:flex;
  justify-content: center;
  margin: 40px auto;
}
/* Footer Section */
footer{
  background-color: #01ACFD;
  color: white;
}

.logo-text>img{
  background-color: white;
}
.logo-text{
  display: flex;
  align-items: center;
}
.logo-text>h1{
  font-size: 2rem;
}
.footer-last{
  display: flex;
  justify-content: space-between;
  padding: 80px;
  align-items: stretch;

}
.links> ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  margin: 10px 0;
}

.social-links{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo-description{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* Making Responsive */

@media screen and (max-width: 576px) {
  .colored-links {
    display: none;
  }
  .icon-name > h3 {
    display: none;
  }
  .btn > .nav-btn {
    display: none;
  }
  .btn > .fa-bars {
    display: block;
  }
  hr {
    display: block;
  }

  .header-banner {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .header-description {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .header-banner > img {
    width: 100%;
  }

  .cards {
    flex-direction: column;
    gap: 20px;
  }

  .curriculum-btns {
    display: none;
  }

  .one-story{
    display: none;
  }

  .small-stories > .btn-relative{
    padding: 5px;
    margin: 0 10px;
    top: calc(100% - 61%);
  }
  .footer-last{
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    /* margin: 20px auto; */
  }
  .logo-description{
    width: 80%;
  }
}
